In [2]:
import pandas as pd
import numpy as np
import datetime
Billing = pd.read_csv("FinalCSVs/Billing.csv")
DiseaseCase = pd.read_csv("FinalCSVs/DiseaseCase.csv")

/Users/davidhuang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [109]:
# Compare # of unique DM2 patients in Billing and DiseaseCase
diabetes = ["Diabetes Mellitus (ml)","Diabetes Mellitus"]
DC_dm2 = DiseaseCase.loc[DiseaseCase['Disease'].isin(diabetes)]
DC_dm2_id = DC_dm2['Patient_ID'].unique()
print(len(DC_dm2_id))

20916

In [102]:
Billing2 = Billing.dropna(subset=['DiagnosisCode_calc']) # Remove NA
Billing2 = Billing2[pd.to_numeric(Billing2.DiagnosisCode_calc,errors='coerce').notnull()] # convert diagnosis codes to floats
Billing2['DiagnosisCode_calc'] = pd.to_numeric(Billing2['DiagnosisCode_calc']) # convert diagnosis codes to floats
BL_dm2 = Billing2.loc[(Billing2['DiagnosisCode_calc'] >= 250.0) & (Billing2['DiagnosisCode_calc'] < 251.0)] #Extract DM2 diagnosis patients into new dataframe
BL_dm2_id = BL_dm2['Patient_ID'].unique()

print(len(BL_dm2_id)) #print number of unique patients w/ DM2
# The unique list of DM2 patients_IDs are stored in the DC_dm2_id variable

3380

In [143]:
Billing2.head(10)

,Billing_ID,Network_ID,Site_ID,Patient_ID,Encounter_ID,ServiceDate,ServiceCode,DiagnosisText_orig,DiagnosisText_calc,DiagnosisCodeType_orig,DiagnosisCodeType_calc,DiagnosisCode_orig,DiagnosisCode_calc,DateCreated
531136,1103465,8,8,80080109810,NaN,2016-11-21,8513,NaN,"INFECTION BY HISTOPLASMA DUBOISII, WITHOUT MEN...",ICD9,ICD9,11510,115.10,2016-11-21
1010470,2864826,8,25,80250030745,NaN,2013-09-19,8005,ARTHROT/PROS REMOV-HIP,OSTEOARTHROSIS AND ALLIED DISORDERS,NaN,ICD9,NaN,715.00,2013-09-19
1010471,2864827,8,25,80250030745,NaN,2013-09-18,8005,ARTHROT/PROS REMOV-HIP,OSTEOARTHROSIS AND ALLIED DISORDERS,NaN,ICD9,NaN,715.00,2013-09-18
1457867,5712698,8,1,80013240969,NaN,2019-04-04,78456,NaN,UNSPECIFIED ESSENTIAL HYPERTENSION,ICD9,ICD9,4019,401.90,2019-04-05
1457868,5712699,8,1,80013240969,7321944.0,2019-09-30,78005,NaN,UNSPECIFIED ESSENTIAL HYPERTENSION,ICD9,ICD9,4019,401.90,2019-09-30
1457870,5712700,8,1,80013240969,7065389.0,2019-12-19,78005,NaN,UNSPECIFIED ESSENTIAL HYPERTENSION,ICD9,ICD9,4019,401.90,2019-12-19
1457871,5713046,8,1,80013241291,NaN,2019-02-19,"20292, 40000, 78550",NaN,Basal cell carcinoma of skin of other and unsp...,ICD9,ICD9,17331,173.31,2019-02-21
1457873,5713048,8,1,80013241291,NaN,2019-04-26,78513,NaN,"DEPRESSIVE DISORDER, NOT ELSEWHERE CLASSIFIED",ICD9,ICD9,311,311.00,2019-05-04
1457874,5713049,8,1,80013241291,7139490.0,2019-09-10,78005,NaN,"DEPRESSIVE DISORDER, NOT ELSEWHERE CLASSIFIED",ICD9,ICD9,311,311.00,2019-09-10
1457875,5713050,8,1,80013241291,6831758.0,2019-11-15,78513,NaN,OTHER ACUTE REACTIONS TO STRESS,ICD9,ICD9,3083,308.30,2019-11-15

In [139]:
Billing2['Patient_ID'].value_counts()

80013220934    87
80613296062    69
80044346703    68
80013287015    61
80653361920    58
               ..
80491874291     1
80013221419     1
80064099862     1
80491873493     1
80394377686     1
Name: Patient_ID, Length: 10123, dtype: int64

In [144]:
mostVisits = Billing2[Billing2['Patient_ID'] == 80013220934]
mostVisits.head(20)

,Billing_ID,Network_ID,Site_ID,Patient_ID,Encounter_ID,ServiceDate,ServiceCode,DiagnosisText_orig,DiagnosisText_calc,DiagnosisCodeType_orig,DiagnosisCodeType_calc,DiagnosisCode_orig,DiagnosisCode_calc,DateCreated
1800690,5686704,8,1,80013220934,7184879.0,2019-02-07,"20259, 78513",NaN,"Ulcer of lower limb, unspecified",ICD9,ICD9,70710,707.10,2019-02-07
1800691,5686705,8,1,80013220934,7184879.0,2019-02-07,"20259, 78513",NaN,DIABETES MELLITUS TYPE I [INSULIN DEPENDENT TY...,ICD9,ICD9,25093,250.93,2019-02-07
1800692,5686706,8,1,80013220934,7431823.0,2019-02-13,"20259, 78513",NaN,"Ulcer of lower limb, unspecified",ICD9,ICD9,70710,707.10,2019-02-13
1800693,5686707,8,1,80013220934,7431823.0,2019-02-13,"20259, 78513",NaN,DIABETES MELLITUS TYPE I [INSULIN DEPENDENT TY...,ICD9,ICD9,25093,250.93,2019-02-13
1800694,5686708,8,1,80013220934,6827716.0,2019-02-20,78513,NaN,ENTEROBIASIS,ICD9,ICD9,1274,127.40,2019-02-20
1800695,5686709,8,1,80013220934,NaN,2019-02-20,20259,NaN,"ULCER OF LOWER LIMB, UNSPECIFIED",ICD9,ICD9,70710,707.10,2019-02-21
1800696,5686710,8,1,80013220934,7782215.0,2019-02-27,78513,NaN,DIABETES MELLITUS TYPE I [INSULIN DEPENDENT TY...,ICD9,ICD9,25093,250.93,2019-02-27
1800697,5686711,8,1,80013220934,NaN,2019-02-27,20259,NaN,"ULCER OF LOWER LIMB, UNSPECIFIED",ICD9,ICD9,70710,707.10,2019-03-04
1800698,5686712,8,1,80013220934,7716416.0,2019-03-06,78513,NaN,DIABETES MELLITUS TYPE I [INSULIN DEPENDENT TY...,ICD9,ICD9,25093,250.93,2019-03-06
1800699,5686713,8,1,80013220934,NaN,2019-03-06,20259,NaN,"ULCER OF LOWER LIMB, UNSPECIFIED",ICD9,ICD9,70710,707.10,2019-03-06
1800700,5686714,8,1,80013220934,7736619.0,2019-03-13,"20259, 78513",NaN,"Ulcer of lower limb, unspecified",ICD9,ICD9,70710,707.10,2019-03-13
1800701,5686715,8,1,80013220934,7736619.0,2019-03-13,"20259, 78513",NaN,DIABETES MELLITUS TYPE I [INSULIN DEPENDENT TY...,ICD9,ICD9,25093,250.93,2019-03-13
1800702,5686716,8,1,80013220934,7094111.0,2019-03-20,"20259, 78513",NaN,"Ulcer of lower limb, unspecified",ICD9,ICD9,70710,707.10,2019-03-20
1800703,5686717,8,1,80013220934,7094111.0,2019-03-20,"20259, 78513",NaN,DIABETES MELLITUS TYPE I [INSULIN DEPENDENT TY...,ICD9,ICD9,25093,250.93,2019-03-20
1800704,5686718,8,1,80013220934,7056071.0,2019-03-28,"20259, 78513",NaN,"Ulcer of lower limb, unspecified",ICD9,ICD9,70710,707.10,2019-03-28
1800705,5686719,8,1,80013220934,7056071.0,2019-03-28,"20259, 78513",NaN,DIABETES MELLITUS TYPE I [INSULIN DEPENDENT TY...,ICD9,ICD9,25093,250.93,2019-03-28
1800706,5686720,8,1,80013220934,NaN,2019-04-04,78456,NaN,UNSPECIFIED ESSENTIAL HYPERTENSION,ICD9,ICD9,4019,401.90,2019-04-05
1800707,5686721,8,1,80013220934,7778247.0,2019-04-05,78513,NaN,DIABETES MELLITUS TYPE I [INSULIN DEPENDENT TY...,ICD9,ICD9,25093,250.93,2019-04-05
1800708,5686722,8,1,80013220934,NaN,2019-04-05,20259,NaN,"ULCER OF LOWER LIMB, UNSPECIFIED",ICD9,ICD9,70710,707.10,2019-04-10
1800709,5686723,8,1,80013220934,7435552.0,2019-04-12,78513,NaN,DIABETES MELLITUS TYPE I [INSULIN DEPENDENT TY...,ICD9,ICD9,25093,250.93,2019-04-12

In [4]:
uniqueDM2Diag = BL_dm2.drop_duplicates(subset = ['Patient_ID','DiagnosisCode_calc'])
uniqueDM2Diag['DiagnosisCode_calc'].value_counts()
# 250.00 = DM2
# 250.02 = DM2 w/ without complication
# 250.93 = DM1 w/ unspecified condition [juvenile type]
# 250.01 = DM1 w/ without complication [juvenile type]
# 250.70 = DM2 w/ PCD (PVD)
# 250.10 = DM2 w/ Ketoacidosis
# 250.60 = DM2 w/ neurological manifestations (neuropathy?)

250.00    1645
250.02    1562
250.93     480
250.01      64
250.70       9
250.10       5
250.60       1
Name: DiagnosisCode_calc, dtype: int64

In [5]:
# Complications in our Diabetes population
DM2BillingSet = Billing2.loc[Billing2['Patient_ID'].isin(DC_dm2_id)]
print(len(DM2BillingSet.index))

44675

In [6]:
DM2BillingSet.head()

,Billing_ID,Network_ID,Site_ID,Patient_ID,Encounter_ID,ServiceDate,ServiceCode,DiagnosisText_orig,DiagnosisText_calc,DiagnosisCodeType_orig,DiagnosisCodeType_calc,DiagnosisCode_orig,DiagnosisCode_calc,DateCreated
531136,1103465,8,8,80080109810,NaN,2016-11-21,8513,NaN,"INFECTION BY HISTOPLASMA DUBOISII, WITHOUT MEN...",ICD9,ICD9,11510,115.10,2016-11-21
1010470,2864826,8,25,80250030745,NaN,2013-09-19,8005,ARTHROT/PROS REMOV-HIP,OSTEOARTHROSIS AND ALLIED DISORDERS,NaN,ICD9,NaN,715.00,2013-09-19
1010471,2864827,8,25,80250030745,NaN,2013-09-18,8005,ARTHROT/PROS REMOV-HIP,OSTEOARTHROSIS AND ALLIED DISORDERS,NaN,ICD9,NaN,715.00,2013-09-18
1458507,5713516,8,1,80013241698,7172841.0,2019-02-11,78513,NaN,OTHER MALIGNANT LYMPHOMAS INVOLVING INTRA-ABDO...,ICD9,ICD9,20283,202.83,2019-02-11
1458508,5713517,8,1,80013241698,7738032.0,2019-02-26,78513,NaN,UNSPECIFIED ESSENTIAL HYPERTENSION,ICD9,ICD9,4019,401.90,2019-02-26

In [12]:
## The 10 Complications
#DM2 = [float(item/100) for item in range(25000,25100)]
AP = [float(item/100) for item in range(41300,41400)] # http://www.icd9data.com/2013/Volume1/390-459/410-414/413/default.htm
AS = [float(item/100) for item in range(44000,44100)] # http://www.icd9data.com/2012/Volume1/390-459/440-449/440/default.htm
ICHD = [float(item/100) for item in range(41400,41500)] # http://www.icd9data.com/2015/Volume1/390-459/410-414/414/default.htm
DD = [311] # http://www.icd9data.com/2012/Volume1/290-319/300-316/311/default.htm
DNP = [float(item/100) for item in range(58500,58600)]
DNP.append(581.81) # include 250.4? http://www.icd9data.com/2012/Volume1/580-629/580-589/585/default.htm
DNU = [float(item/100) for item in range(35700,35800)] # include 250.6? 357.2 is the exact code http://www.icd9data.com/2012/Volume1/320-389/350-359/357/default.htm 
DR = [float(item/100) for item in range(36200,36210)] # http://www.icd9data.com/2015/Volume1/320-389/360-379/362/default.htm
HL = [389.9] #http://www.icd9data.com/2012/Volume1/320-389/380-389/389/default.htm
MI = [float(item/100) for item in range(41000,41100)] #http://www.icd9data.com/2014/Volume1/390-459/410-414/410/default.htm
PVD = [float(item/100) for item in range(43300,43400)] #http://www.icd9data.com/2013/Volume1/390-459/440-449/443/default.htm
complications = AP + AS + ICHD + DD + DNU + DNP +DR + HL + MI + PVD # + DM2

In [154]:
complicationDF = DM2BillingSet.loc[DM2BillingSet['DiagnosisCode_calc'].isin(complications)]

In [155]:
# Example patient with visits for each complication diagnosis without removing duplicate diagnosis
complicationDF[complicationDF['Patient_ID'] == 80613312481]

,Billing_ID,Network_ID,Site_ID,Patient_ID,Encounter_ID,ServiceDate,ServiceCode,DiagnosisText_orig,DiagnosisText_calc,DiagnosisCodeType_orig,DiagnosisCodeType_calc,DiagnosisCode_orig,DiagnosisCode_calc,DateCreated
1812888,5769776,8,61,80613312481,7840247.0,2019-03-26,78005,NaN,CORONARY ATHEROSCLEROSIS OF UNSPECIFIED TYPE O...,ICD9,ICD9,41400,414.0,2019-04-01
1812916,5769779,8,61,80613312481,7058504.0,2019-06-19,78529,NaN,"CHRONIC KIDNEY DISEASE, UNSPECIFIED",ICD9,ICD9,5859,585.9,2019-06-19
1812925,5769788,8,61,80613312481,7125171.0,2019-12-20,78005,NaN,CORONARY ATHEROSCLEROSIS OF UNSPECIFIED TYPE O...,ICD9,ICD9,41400,414.0,2019-12-20

In [156]:
# Sort and Remove Duplicates
complicationDF['ServiceDate'] = pd.to_datetime(complicationDF.ServiceDate,format='%Y-%m-%d') # Turn ServiceDate column to datetime
complicationDFS = complicationDF.sort_values(by='ServiceDate')
complicationDFSU = complicationDF.drop_duplicates(subset = ['Patient_ID', 'DiagnosisCode_calc'])

/Users/davidhuang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [157]:
# Example patient with visits for each complication diagnosis without removing duplicate diagnosis
complicationDFSU[complicationDF['Patient_ID'] == 80613312481] # Should we consider duplicate diagnosis given @ different times

/Users/davidhuang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,Billing_ID,Network_ID,Site_ID,Patient_ID,Encounter_ID,ServiceDate,ServiceCode,DiagnosisText_orig,DiagnosisText_calc,DiagnosisCodeType_orig,DiagnosisCodeType_calc,DiagnosisCode_orig,DiagnosisCode_calc,DateCreated
1812888,5769776,8,61,80613312481,7840247.0,2019-03-26,78005,NaN,CORONARY ATHEROSCLEROSIS OF UNSPECIFIED TYPE O...,ICD9,ICD9,41400,414.0,2019-04-01
1812916,5769779,8,61,80613312481,7058504.0,2019-06-19,78529,NaN,"CHRONIC KIDNEY DISEASE, UNSPECIFIED",ICD9,ICD9,5859,585.9,2019-06-19

In [158]:
print(sum(complicationDFSU['DiagnosisCode_calc'].value_counts()))
print(complicationDFSU['DiagnosisCode_calc'].value_counts()) # Note: Many DM2 Diagnosis from DiseaseCase are not present in Billing

830
311.00    334
414.00    305
414.90     54
585.90     47
357.90     26
413.90     22
389.90     15
410.90      7
440.90      6
440.21      5
585.60      4
433.10      3
414.80      2
Name: DiagnosisCode_calc, dtype: int64

In [159]:
print(sum(complicationDFSU['Patient_ID'].value_counts() == 4)) # 0 patients have 4 complications 
print(sum(complicationDFSU['Patient_ID'].value_counts() == 3)) # 3 patients have 3 complications
print(sum(complicationDFSU['Patient_ID'].value_counts() == 2)) # 56 pateints have 2 complications
print(sum(complicationDFSU['Patient_ID'].value_counts() == 1)) # 709 have just 1 complication, 768 in total != 830
#print(complicationDF['Patient_ID'].value_counts() == 4)

0
3
56
709

In [160]:
complication_clean = complicationDFSU[['Patient_ID', 'ServiceDate', 'DiagnosisCode_calc']]
complication_clean.columns = ['Patient_ID','CompOnset','CompCode']
complication_clean.head()

          Patient_ID  CompOnset  CompCode
1459207  80034625466 2019-10-03     414.0
1459227  80034628749 2019-02-27     311.0
1459255  80034629485 2019-04-25     413.9
1459263  80034629485 2019-08-28     414.9
1459559  80034632968 2019-05-23     311.0

In [161]:
len(complication_clean.index)

830

In [162]:
# Sort DC_dm2 dataset for merging
DC_dm2['Disease'] = DC_dm2['Disease'].replace("Diabetes Mellitus (ml)","Diabetes Mellitus") # Make all DM2 diagnosis' the same
DC_dm2['DateOfOnset'] = pd.to_datetime(DC_dm2.DateOfOnset,format='%Y-%m-%d') # Turn DateOfOnset column to datetime
DC_dm2_sorted = DC_dm2.sort_values(by='DateOfOnset')
DC_dm2_sorted.head()

/Users/davidhuang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/davidhuang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,DiseaseCase_ID,Network_ID,Site_ID,Patient_ID,Disease,DateOfOnset
124156,265785,8,41,80410086579,Diabetes Mellitus,1980-01-01
130824,260038,8,41,80410080363,Diabetes Mellitus,1980-01-01
75051,75219,8,62,80620024031,Diabetes Mellitus,1980-01-01
117249,249378,8,62,80620025402,Diabetes Mellitus,1980-01-01
40510,44688,8,62,80620037651,Diabetes Mellitus,1980-01-01

In [233]:
DC_dm2_sorted.tail(20) #80013281045

,DiseaseCase_ID,Network_ID,Site_ID,Patient_ID,Disease,DateOfOnset
66124,130955,8,17,80170263651,Diabetes Mellitus,2019-12-23
49517,77928,8,33,80333064515,Diabetes Mellitus,2019-12-23
81235,125500,8,8,80080050166,Diabetes Mellitus,2019-12-23
78265,86501,8,3,80034897051,Diabetes Mellitus,2019-12-23
78089,152389,8,61,80613346804,Diabetes Mellitus,2019-12-23
137491,261793,8,46,80460052888,Diabetes Mellitus,2019-12-24
84767,124315,8,62,80620067388,Diabetes Mellitus,2019-12-24
73568,159567,8,2,80020031001,Diabetes Mellitus,2019-12-24
71220,72408,8,56,80560374897,Diabetes Mellitus,2019-12-24
59551,73012,8,35,80350151391,Diabetes Mellitus,2019-12-26
71183,82652,8,16,80160031336,Diabetes Mellitus,2019-12-27
101133,158002,8,56,80560343664,Diabetes Mellitus,2019-12-27
97741,139723,8,51,80510333259,Diabetes Mellitus,2019-12-27
96154,171004,8,56,80560343664,Diabetes Mellitus,2019-12-27
21624,4830,8,51,80510333259,Diabetes Mellitus,2019-12-27
75834,148982,8,33,80333046655,Diabetes Mellitus,2019-12-30
93953,172888,8,10,80100529543,Diabetes Mellitus,2019-12-30
79698,173448,8,1,80013270854,Diabetes Mellitus,2019-12-30
124839,222144,8,34,80340061302,Diabetes Mellitus,2019-12-31
87687,196449,8,34,80340061302,Diabetes Mellitus,2019-12-31

In [163]:
len(DC_dm2_sorted.index)

39457

In [164]:
DC_dm2_sorted_uniq = DC_dm2_sorted.drop_duplicates(subset = ['Patient_ID','Disease'])
print(len(DC_dm2_sorted_uniq.index)) # Now matches number in cell 2 and is sorted such that each patients DM2 diagnosis is earliest possible

20916

In [165]:
#Merge complication and DM2 onset dfs
complication_clean = pd.merge(complication_clean, DC_dm2_sorted_uniq, on='Patient_ID')
complications_final = complication_clean[['Patient_ID','DateOfOnset','CompOnset']]
complications_final.head(10)

    Patient_ID DateOfOnset  CompOnset
0  80034625466  2013-02-25 2019-10-03
1  80034628749  2006-03-28 2019-02-27
2  80034629485  2018-02-08 2019-04-25
3  80034629485  2018-02-08 2019-08-28
4  80034632968  2016-04-19 2019-05-23
5  80034632968  2016-04-19 2019-06-18
6  80034637459  2010-02-05 2019-02-12
7  80034637459  2010-02-05 2019-06-28
8  80034643060  2013-07-03 2019-06-06
9  80013245281  2016-02-25 2019-09-16

In [167]:
print(complications_final.dtypes)
print(len(complications_final.index)) # Same as complication_df

Patient_ID              int64
DateOfOnset    datetime64[ns]
CompOnset      datetime64[ns]
dtype: object
830

In [168]:
comp_ids = complications_final['Patient_ID'].unique()
CompBillingSet = Billing2.loc[Billing2['Patient_ID'].isin(comp_ids)]
CompBillingSet['ServiceDate'] = pd.to_datetime(CompBillingSet.ServiceDate,format='%Y-%m-%d')
CompBillingSet_sorted = CompBillingSet.sort_values(by='ServiceDate')
CompBillingSet_sorted.head(10)

/Users/davidhuang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Billing_ID,Network_ID,Site_ID,Patient_ID,Encounter_ID,ServiceDate,ServiceCode,DiagnosisText_orig,DiagnosisText_calc,DiagnosisCodeType_orig,DiagnosisCodeType_calc,DiagnosisCode_orig,DiagnosisCode_calc,DateCreated
1778255,5892715,8,33,80333041324,9917359.0,2018-09-11,"78513, 89644",NaN,"ABDOMINAL PAIN, OTHER SPECIFIED SITE; MULTIPLE...",ICD9,ICD9,78909,789.09,2019-03-05
1469140,5730312,8,1,80013281045,NaN,2018-09-21,78513,NaN,CORONARY ATHEROSCLEROSIS OF UNSPECIFIED TYPE O...,ICD9,ICD9,41400,414.00,2019-03-04
1756210,5676814,8,1,80013138602,7119087.0,2018-10-17,78513,NaN,UNSPECIFIED INFLAMMATORY AND TOXIC NEUROPATHIES,ICD9,ICD9,3579,357.90,2019-03-06
1808756,5705450,8,1,80013234302,NaN,2018-10-21,78520,NaN,"CONGESTIVE HEART FAILURE, UNSPECIFIED",ICD9,ICD9,4280,428.00,2019-02-08
1778258,5892718,8,33,80333041324,10032185.0,2018-10-30,78513,NaN,SHORTNESS OF BREATH,ICD9,ICD9,78605,786.05,2019-04-16
1815577,5857681,8,6,80064089752,8799586.0,2018-10-31,"78529, 78791",NaN,"ASTHMA, UNSPECIFIED TYPE, WITHOUT MENTION OF S...",ICD9,ICD9,49390,493.90,2019-04-08
1742852,5861935,8,6,80064100067,8980880.0,2018-10-31,"78513, 78791",NaN,CORONARY ATHEROSCLEROSIS OF UNSPECIFIED TYPE O...,ICD9,ICD9,41400,414.00,2019-04-15
1778260,5892720,8,33,80333041324,9622072.0,2018-11-05,78513,NaN,UNSPECIFIED PLEURAL EFFUSION,ICD9,ICD9,5119,511.90,2019-05-01
1756211,5676815,8,1,80013138602,7819068.0,2018-11-05,78005,NaN,PAIN IN JOINT INVOLVING SHOULDER REGION,ICD9,ICD9,71941,719.41,2019-03-13
1511015,5951914,8,39,80394402760,NaN,2018-11-06,"75555, 78513",NaN,DEHYDRATION,ICD9,ICD9,27651,276.51,2019-02-27

In [172]:
len(CompBillingSet_sorted.index)

9997

In [229]:
CompBillingSet_merged = pd.merge(CompBillingSet_sorted, complications_final, on='Patient_ID')
CompBillingSet_merged.head(25)

,Billing_ID,Network_ID,Site_ID,Patient_ID,Encounter_ID,ServiceDate,ServiceCode,DiagnosisText_orig,DiagnosisText_calc,DiagnosisCodeType_orig,DiagnosisCodeType_calc,DiagnosisCode_orig,DiagnosisCode_calc,DateCreated,DateOfOnset,CompOnset
0,5892715,8,33,80333041324,9917359.0,2018-09-11,"78513, 89644",NaN,"ABDOMINAL PAIN, OTHER SPECIFIED SITE; MULTIPLE...",ICD9,ICD9,78909,789.09,2019-03-05,2016-08-23,2019-04-16
1,5892718,8,33,80333041324,10032185.0,2018-10-30,78513,NaN,SHORTNESS OF BREATH,ICD9,ICD9,78605,786.05,2019-04-16,2016-08-23,2019-04-16
2,5892720,8,33,80333041324,9622072.0,2018-11-05,78513,NaN,UNSPECIFIED PLEURAL EFFUSION,ICD9,ICD9,5119,511.90,2019-05-01,2016-08-23,2019-04-16
3,5892721,8,33,80333041324,10091895.0,2018-12-04,78513,NaN,SENILITY WITHOUT MENTION OF PSYCHOSIS,ICD9,ICD9,797,797.00,2019-05-31,2016-08-23,2019-04-16
4,5892714,8,33,80333041324,9588105.0,2019-02-26,78513,NaN,"INSOMNIA, UNSPECIFIED",ICD9,ICD9,78052,780.52,2019-02-26,2016-08-23,2019-04-16
5,5892716,8,33,80333041324,NaN,2019-04-04,78458,NaN,UNSPECIFIED ESSENTIAL HYPERTENSION,ICD9,ICD9,4019,401.90,2019-04-05,2016-08-23,2019-04-16
6,5892717,8,33,80333041324,9927065.0,2019-04-05,78513,NaN,"INSOMNIA, UNSPECIFIED",ICD9,ICD9,78052,780.52,2019-04-05,2016-08-23,2019-04-16
7,5892719,8,33,80333041324,9596241.0,2019-04-16,78005,NaN,"DEPRESSIVE DISORDER, NOT ELSEWHERE CLASSIFIED",ICD9,ICD9,311,311.00,2019-04-18,2016-08-23,2019-04-16
8,5892731,8,33,80333041324,9849983.0,2019-04-25,78513,NaN,SENILITY WITHOUT MENTION OF PSYCHOSIS,ICD9,ICD9,797,797.00,2019-10-22,2016-08-23,2019-04-16
9,5892739,8,33,80333041324,9453351.0,2019-09-04,78513,NaN,GENERALIZED ANXIETY DISORDER,ICD9,ICD9,30002,300.02,2019-12-02,2016-08-23,2019-04-16
10,5892729,8,33,80333041324,9389614.0,2019-09-18,78513,NaN,"DEPRESSIVE DISORDER, NOT ELSEWHERE CLASSIFIED",ICD9,ICD9,311,311.00,2019-09-18,2016-08-23,2019-04-16
11,5892730,8,33,80333041324,9483768.0,2019-10-18,78005,NaN,GENERALIZED ANXIETY DISORDER,ICD9,ICD9,30002,300.02,2019-10-18,2016-08-23,2019-04-16
12,5892732,8,33,80333041324,9313150.0,2019-10-30,78005,NaN,"CONSTIPATION, UNSPECIFIED",ICD9,ICD9,56400,564.00,2019-11-03,2016-08-23,2019-04-16
13,5892734,8,33,80333041324,9345777.0,2019-11-13,78513,NaN,UNSPECIFIED DISORDER OF SKIN AND SUBCUTANEOUS ...,ICD9,ICD9,7099,709.90,2019-11-13,2016-08-23,2019-04-16
14,5892735,8,33,80333041324,9754287.0,2019-11-19,78005,NaN,"CONSTIPATION, UNSPECIFIED",ICD9,ICD9,56400,564.00,2019-11-20,2016-08-23,2019-04-16
15,5892736,8,33,80333041324,9221995.0,2019-11-20,78005,NaN,GENERALIZED ANXIETY DISORDER,ICD9,ICD9,30002,300.02,2019-11-21,2016-08-23,2019-04-16
16,5892737,8,33,80333041324,9318471.0,2019-11-27,78000,NaN,GENERALIZED ANXIETY DISORDER,ICD9,ICD9,30002,300.02,2019-11-28,2016-08-23,2019-04-16
17,5892738,8,33,80333041324,9491567.0,2019-11-28,78005,NaN,TYPE II DIABETES MELLITUS [NON-INSULIN DEPENDE...,ICD9,ICD9,25000,250.00,2019-11-29,2016-08-23,2019-04-16
18,5892740,8,33,80333041324,10211195.0,2019-12-06,78005,NaN,"CONSTIPATION, UNSPECIFIED",ICD9,ICD9,56400,564.00,2019-12-09,2016-08-23,2019-04-16
19,5730312,8,1,80013281045,NaN,2018-09-21,78513,NaN,CORONARY ATHEROSCLEROSIS OF UNSPECIFIED TYPE O...,ICD9,ICD9,41400,414.00,2019-03-04,2019-02-28,2018-09-21
20,5730313,8,1,80013281045,NaN,2019-04-04,78457,NaN,UNSPECIFIED ESSENTIAL HYPERTENSION,ICD9,ICD9,4019,401.90,2019-04-05,2019-02-28,2018-09-21
21,5730314,8,1,80013281045,NaN,2019-04-26,78513,NaN,CORONARY ATHEROSCLEROSIS OF UNSPECIFIED TYPE O...,ICD9,ICD9,41400,414.00,2019-05-06,2019-02-28,2018-09-21
22,5730316,8,1,80013281045,7026820.0,2019-06-12,78513,NaN,TYPE II DIABETES MELLITUS [NON-INSULIN DEPENDE...,ICD9,ICD9,25002,250.02,2019-06-12,2019-02-28,2018-09-21
23,5730315,8,1,80013281045,7026820.0,2019-06-12,78513,NaN,Coronary atherosclerosis of unspecified type o...,ICD9,ICD9,41400,414.00,2019-06-12,2019-02-28,2018-09-21
24,5730318,8,1,80013281045,7311177.0,2019-08-26,78513,NaN,TYPE II DIABETES MELLITUS [NON-INSULIN DEPENDE...,ICD9,ICD9,25002,250.02,2019-08-26,2019-02-28,2018-09-21

In [181]:
print(len(CompBillingSet_merged))# Extra rows due to patients with more than 1 complication
print(CompBillingSet_merged.dtypes)

10898
Billing_ID                         int64
Network_ID                         int64
Site_ID                            int64
Patient_ID                         int64
Encounter_ID                     float64
ServiceDate               datetime64[ns]
ServiceCode                       object
DiagnosisText_orig                object
DiagnosisText_calc                object
DiagnosisCodeType_orig            object
DiagnosisCodeType_calc            object
DiagnosisCode_orig                object
DiagnosisCode_calc               float64
DateCreated                       object
DateOfOnset               datetime64[ns]
CompOnset                 datetime64[ns]
dtype: object

In [227]:
#Number of visits per patient
patientHistories = {}
for index, row in CompBillingSet_merged.iterrows() :
    temp = str(row['Patient_ID'])
    dateVisit = row['ServiceDate']
    dateOnset = row['DateOfOnset']
    dateComp = row['CompOnset']
    diag = row['DiagnosisCode_calc']
    if temp not in patientHistories.keys():
        patientHistories[temp] = []
        #print(patientHistories)
    if dateOnset <= dateVisit <= dateComp :
            #print(patientHistories[temp])
        patientHistories[temp] = patientHistories[temp] + [diag]
            #print(patientHistories)
        
#print(min(patientCounts.values()), max(patientCounts.values()))

In [228]:
PHDF = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in patientHistories.items() ]))
PHDF.head(10) 
# 80333041324 checks out
# *** 80013281045 doesn't work since date of onset is later than complication date

,80333041324,80013281045,80013138602,80013234302,80064089752,80064100067,80394402760,80333116646,80064117050,80064077924,...,80013226188,80064077570,80613324515,80394374626,80613318971,80653361609,80333044822,80034908119,80394385713,80333038918
0,789.09,NaN,357.9,428.0,493.9,414.0,276.51,788.63,414.0,401.9,...,NaN,401.90,311.0,NaN,78.1,NaN,311.0,250.93,311.0,585.6
1,786.05,NaN,NaN,428.0,311.0,401.1,250.00,724.50,NaN,311.0,...,NaN,785.60,NaN,NaN,54.1,NaN,NaN,414.00,NaN,NaN
2,511.90,NaN,NaN,428.0,NaN,250.0,401.90,724.50,NaN,NaN,...,NaN,237.70,NaN,NaN,311.0,NaN,NaN,NaN,NaN,NaN
3,797.00,NaN,NaN,428.0,NaN,414.0,729.10,461.90,NaN,NaN,...,NaN,250.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,780.52,NaN,NaN,250.0,NaN,NaN,357.90,401.90,NaN,NaN,...,NaN,311.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,401.90,NaN,NaN,250.0,NaN,NaN,NaN,250.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,780.52,NaN,NaN,250.0,NaN,NaN,NaN,250.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,311.00,NaN,NaN,428.0,NaN,NaN,NaN,250.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,414.0,NaN,NaN,NaN,250.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.83,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN